<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="lastname">Enter lastname: </label>
  <input type="text" th:field="*{lastname}" id="lastname"/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <label for="pass">Enter pass: </label>
    <input type="text" th:field="*{pass}" id="pass"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>


</body>
</html>